$prefix: "../";
$bg__classes-img: 
    $prefix+"img/classes/classes-s1.jpg",
    $prefix+"img/classes/classes-s2.jpg",
    $prefix+"img/classes/classes-s3.jpg",
    $prefix+"img/classes/classes-s4.jpg",
    $prefix+"img/classes/classes-s5.jpg",
    $prefix+"img/classes/classes-s6.jpg";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"img/index/index-s1.jpg",
    "",
    $prefix+"img/index/index-s3.jpg",
    "",
    $prefix+"img/index/index-s5.jpg",
    $prefix+"img/index/index-s6.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__promo-img: 
    $prefix+"img/promo/promo-s1.jpg",
    $prefix+"img/promo/promo-s2.jpg",
    $prefix+"img/promo/promo-s3.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__classes:
    "classes",
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "promo",
    "user";
$bg__aoa:
    $bg__classes-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__promo-img,
    $bg__user-img;
$color__shadow: #333;
$text__shadow: 1px 1px 3px $color__shadow; 